@model TabloidMVC.Models.Subscription

@{
    ViewData["Title"] = "AlreadyUnsubbed";
}

<p>
    <h1>You are not Subscribed to <span style="text-decoration: underline">@Model.Provider.DisplayName</span>!</h1>
<p />

<div>
    <a asp-controller="Post" asp-action="Details" asp-route-id="@Model.PostId">Back to Post</a>
</div>
